ul{
  list-style: none;
  margin:0px;
  padding:0px;
  text-align:left;
}
.loading {
  margin: 20% auto 0;
  width: 70px;
  text-align: center;
}
.loading > div {
  width: 18px;
  height: 18px;
  background-color: rgb(70, 165, 255);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.chatRoom{
  display: inline-block;
  background-color: white;
  height: 100vh;
  width: 100vw; 
  box-shadow: 0px 10px 20px rgb(104, 104, 104);
}
@media (min-width: 500px) {
  .chatRoom{
    width: 540px;
    height: 100%;
    }
}
.readMessage{
  max-height: 600px;
  border: 0px;  
  margin: auto;
  background-color: rgb(152, 191, 255);
  overflow-y: scroll;
  overflow-x: hidden;
}
#sendMessage{
  width: 100%;
  background-color: white;
}
#inputBox{
  font-size:1rem;
  border: none;
  outline: none;
  height: 30px;
  width: 90%;
  padding: 2% 1% 2% 1%;
}
/* Button */
#viewMore{
  cursor: pointer;
  font-size:1.1rem;
  padding: 7px 0px 7px 0px;
  margin-bottom: 10px;
  color: #fcfcfc;
  background-color: rgb(176, 206, 255);
  border-bottom:1px rgb(255, 255, 255) dashed;
}
#viewMore:hover{
  background-color:rgb(88, 152, 255);
  border-bottom:1px rgb(88, 152, 255) dashed;
}
#logoutButton{
  cursor: pointer;
  font-size:1.7rem;
  font-weight: bold;
  width: 100%;
  padding: 8px 0px 8px 0px;
  color: #fcfcfc;
  background-color: #868686;
}
#logoutButton:hover{
  color: #3f3e3e;
  background-color: #cecece;
}

/* Message Content CSS */
.myBox{
  background-color: #fffb00;
  display: inline-block;
  word-wrap: break-word;
  max-width: 70%;
  border-radius: 6px;
  padding: 5px;
  margin: 3px 10px 3px 3px; 
  float: right;
  clear: both;
  position: relative;
}
.myBox:after, .myBox:before {
  left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
}
.myBox:after {
	border-left-color: #fffb00;
	border-width: 5px;
	margin-top: -5px;
}
.yourContent{
  background-color: #ffffff;
  display:inline-block;
  word-wrap: break-word;
  max-width: 70%;
  border-radius: 6px;
  padding: 5px;
  margin: 5px 3px 3px 10px;
  position: relative;
}
.yourContent:after, .yourContent:before {
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
}
.yourContent:after {
	border-right-color: #ffffff;
	border-width: 5px;
	margin-top: -5px;
}
.yourName{
  clear: both;
  margin: 0px 3px 0px 13px;  
  color:rgb(39, 39, 39);
}

/* Date output CSS */
.dateLine {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(61, 61, 61, 0.35);
  font-size: 14px;
}
.dateLine::before, .dateLine::after {
  content: "";
  flex-grow: 1;
  background: rgba(63, 63, 63, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 20px 16px;
}
